body{
  background-image: url("../../../public/data/images/boy.png"), url("../../../public/data/images/girl.png");
  background-position: center left, center right;
  background-attachment: fixed, fixed;
  background-size: 50%, 50%;
  background-repeat: no-repeat, no-repeat;
  display: flex;
flex-direction: column;
height: 100%;
width: 98.9vw;

}
/* Style the menu bar */
header {
display: flex;
justify-content: flex-end;
align-items: center;
padding: 20px;
background-color: #6dbae3;
overflow:hidden;
position: relative;
}

header ul {
list-style: none;
margin: 0;
padding: 0;
display: flex;
}

header li {
margin: 5px;
}

/* Style the links inside the navigation bar */
ul a{
color: white;
text-align: center;
padding: 10px;
text-decoration: none;
font-size: 20px;
}

/* Change the color of links on hover */
ul a:hover{
text-decoration: underline;
text-decoration-color: darkorange;
color: white;
}

/* Add a color to the active/current link */
ul a.active{
background-color: darkorange;
padding: 25px;
}
/*....*/


/* Background images */
main {
  display: flex;
flex-direction: column;
align-items: center;
}
/*....*/


/* Slideshow container */
.slideshow-container {
max-width: 1000px;
position: relative;
margin: auto;
}

/* Hide the images by default */
.mySlides {
display: none;
}

/* Next & previous buttons */
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
margin-top: -22px;
padding: 16px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numberquote {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

/* The dots/bullets/indicators */
.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
background-color: #717171;
}

/* Fading animation */
.fade {
animation-name: fade;
animation-duration: 1.5s;
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

/* Quotes */
.photo{
  background-image: url("../images/one.jpg");
  padding: 25px;
  width: 94.8%;
  margin: -2px;
}
.quote {
position: relative;
bottom: 20%;
left: 50%;
transform: translate(-50%, 0);
width: 80%;
background-color: rgba(255, 255, 255, 0.8);
padding: 10px;
text-align: center;

}

.quote h2 {
font-size: 36px;
font-weight: bold;
margin: 0 10px;
}

.quote h3 {
font-size: 27px;
font-weight: bold;
margin: 0 10px;
}

.quote p {
font-size: 24px;
font-style: italic;
margin: 0;
}
/*....*/


/* Youtube Video */
.video {
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
position: relative;
overflow: hidden;
}


/* Style the footer */
footer {
  align-items: center;
  background-color: #6dbae3;
  color: white;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  position: relative;
}
footer h2 {
  color: black;
}
/* Add social media icons */
.fa {
padding: 10px;
font-size: 30px;
width: 30px;
text-align: center;
text-decoration: none;
border-radius: 50%;
}
.fa:hover{
  background-color: gray;
  text-decoration: none;
}
/* Facebook */
.fa-facebook {
background: #3B5998;
color: white;
}
/* Twitter */
.fa-twitter {
background: #55ACEE;
color: white;
}
/* LinkedIn */
.fa-linkedin {
background: #0072b1;
color: white;
}
/*....*/

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}


@media only screen and (max-width: 1000px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
  
}
@media only screen and (max-width: 550px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
  }
  
}


